<h1><%=informacion.name%></h1>

<p><b>Height:</b> <%=informacion.height%></p>
<p><b>Mass:</b> <%=informacion.mass%></p>
<p><b>Hair color:</b> <%=informacion.hairColor%></p>
<p><b>Skin color:</b> <%=informacion.skinColor%></p>
<p><b>Eye color:</b> <%=informacion.eyeColor%></p>
<p><b>Birth year:</b> <%=informacion.birthYear%></p>
<p><b>Gender:</b> <%=informacion.gender%></p>
<p><b>Homeworld:</b> <a class="planets" id="<%=informacion.homeworld.id%>" href="/detalle/planets,<%=informacion.homeworld.id%>"><%=informacion.homeworld.name%></a></p>

<p><b>Films:</b></p>
<ul>
  <%for (var i=0; i < informacion.filmConnection.films.length; i++){%>
    <li><a class="films" id="<%=informacion.filmConnection.films[i].episodeID%>" href="/detalle/films,<%=informacion.filmConnection.films[i].episodeID%>"><%=informacion.filmConnection.films[i].title%></a></li>
  <%}%>
</ul>
<p><b>Starships:</b></p>
<ul>
  <%for (var i=0; i < informacion.starshipConnection.starships.length; i++){%>
    <li><a class="planets" id="<%=informacion.starshipConnection.starships[i].id%>" href="/detalle/starships,<%=informacion.starshipConnection.starships[i].id%>"><%=informacion.starshipConnection.starships[i].name%></a></li>
  <%}%>
</ul>
<p>Created: <%=informacion.created%></p>
<p>Edited: <%=informacion.edited%></p>
<p>ID: <%=informacion.id%></p>
