<h1><%=informacion.name%></h1>

<p><b>Model:</b> <%=informacion.model%></p>
<p><b>Manufacturer:</b> <%=informacion.manufacturers%></p>
<p><b>Cost in credits:</b> <%=informacion.costInCredits%></p>
<p><b>Length:</b> <%=informacion.length%></p>
<p><b>Max atmosphering speed:</b> <%=informacion.maxAtmospheringSpeed%></p>
<p><b>Crew:</b> <%=informacion.crew%></p>
<p><b>Passengers:</b> <%=informacion.passengers%></p>
<p><b>Cargo capacity:</b> <%=informacion.cargoCapacity%></p>
<p><b>Consumables:</b> <%=informacion.consumables%></p>
<p><b>Hyperdrive rating:</b> <%=informacion.hyperdriveRating%></p>
<p><b>MGLT:</b> <%=informacion.MGLT%></p>
<p><b>Starship class:</b> <%=informacion.starshipClass%></p>

<p><b>Pilots:</b></p>
<ul>
  <%for (var i=0; i < informacion.pilotConnection.pilots.length; i++){%>
    <li><a class="people" id="<%=informacion.pilotConnection.pilots[i].id%>" href="/detalle/people,<%=informacion.pilotConnection.pilots[i].id%>"><%=informacion.pilotConnection.pilots[i].name%></a></li>
  <%}%>
</ul>
<p><b>Films:</b></p>
<ul>
  <%for (var i=0; i < informacion.filmConnection.films.length; i++){%>
    <li><a class="films" id="<%=informacion.filmConnection.films[i].episodeID%>" href="/detalle/films,<%=informacion.filmConnection.films[i].episodeID%>"><%=informacion.filmConnection.films[i].title%></a></li>
  <%}%>
</ul>
<p>Created: <%=informacion.created%></p>
<p>Edited: <%=informacion.edited%></p>
<p>ID: <%=informacion.id%></p>
